.container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 60px auto;
}

@media screen and (max-width: 680px) {
  .container {
    width: 90%;
    flex-direction: column;
  }
}
